NEXT_PUBLIC_SITE_URL=https://transformers-archive.vercel.app
NEXT_PUBLIC_BOND_ARCHIVE_URL=https://bond-archive-two.vercel.app
NEXT_PUBLIC_MI_ARCHIVE_URL=https://mi-archive.vercel.app
NEXT_PUBLIC_FF_ARCHIVE_URL=https://ff-archive.vercel.app
NEXT_PUBLIC_SISTER_SITE_URL=https://car-parts-cpang.vercel.app
